a.post-container {
  text-decoration: none;
  color: inherit;
  display: none; /* Ensure it behaves like a block element */
}

a.post-container .post {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  position: relative;
}

a.post-container .post-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

a.post-container .post-link:hover {
  opacity: 0.3;
}
